<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si es una petición OPTIONS, se permite resolver de forma genérica o pasar
    # Permitir CORS headers para preflight
    Header always set Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT, PATCH"
    Header always set Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"

    # Reescribir URLs al controlador frontal index.php si no son archivos físicos (ej: en carpeta uploads)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
